.rowDenseGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    grid-auto-flow: dense;
    padding: 15px 30px;
    background-image: var(--radialBackgroundImage);
    justify-content: center;
    min-width: 200px;
    width: 100%;
}

.categoryContainer img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border: 5px solid;
    border-style: none none double none;
    border-image: var(--italianFlagBorder);
    object-fit: cover;
}

.categoryContainer img:hover{
    margin-bottom: 10px;
    transform: scale(1.01);
    transition: 0.9s;    
}

.categoryTitle{
    text-align: center;
    color: red;
    text-decoration: 2px underline wavy;
}

.categoryContainer{
    margin: 10px;
    border-radius: 10px;
    border: 2px double black;
    background-color: white;
    box-shadow: -5px 5px 10px 1px #635c5cde;
    height: min-content;
}

.categoryContainer:hover{
    transform: scale(1.01);
    transition: 1s;
}

.categoryOptionsList{
    list-style: none;
    padding: 0;
    font-family: "Tangerine";
    font-weight: bold;
    font-size: 1.4rem;
}

.optionContainer{
    display: flex;
    justify-content: space-between;
    padding: 2px 7px;
    border-bottom: 1px dashed black;
    
}

.contentContainer{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.sideBar{
    flex: 3 1 30%;
    background-color: black;
}

.sideBar nav{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;

}

.categoryNavButton{
    margin: clamp(5px, 10px, 50px) 5px;
    border-radius: 20px;
    background-image: var(--radialBackgroundImage);
    border: 0;
}

.categoryNavButton:hover{
    cursor: pointer;
    background-image: none;
    background-color: rgb(165, 165, 165);
}


.sideBarLogoContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.sideBarLogoContentContainer img{
    width: 16px;
}