@font-face {
    font-family: 'Tangerine';
    src: url('./font/Tangerine-Bold.woff2') format('woff2'),
        url('./font/Tangerine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tangerine';
    src: url('./font/Tangerine-Regular.woff2') format('woff2'),
        url('./font/Tangerine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

